body{
  background-color: #dfd8d83;
  background-image: url("images/background simple 2.png");
}
#body{
  height:100%;
  width:1100px;

}
#header{
  box-shadow: 3px 3px 30px gray;
  border-radius: 8px;
  margin-top: 4%;
  margin-left: 70px;
  width:1000px;
  height:400px;
  background-image: url("images/Robots.png");
  background-repeat: no-repeat;

}
#main{
  background-color: #dcb0b44d;
  width:90%;
  height:2000px;
  min-width: 900px;
  max-width: 900px;
  margin-left: 12%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#buttonContainer{
  display:flex;
  flex-direction: column;
  justify-content:flex-end;
  height:500px;

}
  .questionDisplay{
    height:55px;
    font-size: 25px;
    font-family: walsheim;
    margin:none;

  }


  .buttonBox{
    display:flex;
    justify-content: center;
    margin-top: none;
  }
        button{
          height:40px;
          width: 80px;
          font-family:walsheim;
          margin:3%;
          font-size: large;
          border:none;
          border-radius: 5px;
          box-shadow: 1px 1px 2px;
          background-color: #c4e7f538;
        }
        button:hover{
          box-shadow: 2px 2px 5px;
        }
            #startBtn{
              height:50px;
              width:100px;
            }

  .gameBoard{
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    position: absolute;
    /*border:1px solid gray ;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;*/
    height:300px;
    width:1100px;
    margin-left:70px;
    margin-top: 525px;
    /*background-image: url("images/Guess Who board edited.png");
    background-repeat: no-repeat;*/
  }
    .gameBoardCard{
      height:120px;
      width:125px;
      margin:1%;
      border-radius: 5px;
      border:1px solid black;
      box-shadow: 3px 3px 3px gray;
    }
    #one{background-image: url("images/Todd.png");background-repeat: no-repeat;}
    #two{background-image: url("images/Ruth.png");background-repeat: no-repeat;}
    #three{background-image: url("images/Emily.png");background-repeat: no-repeat;}
    #four{background-image: url("images/Angela.png");background-repeat: no-repeat;}
    #five{background-image:url("images/Mike.png");background-repeat:no-repeat;}
    #six{background-image: url("images/Cheryl.png");background-repeat: no-repeat;}
    #seven{background-image: url("images/Ben.png");background-repeat: no-repeat;}
    #eight{background-image: url("images/Edu.png");background-repeat: no-repeat;}
    #nine{background-image: url("images/Victoria.png");background-repeat: no-repeat;}
    #ten{background-image: url("images/Abdulrahman.png");background-repeat: no-repeat;}
    #eleven{background-image: url("images/Matt.png");background-repeat: no-repeat;}
    #twelve{background-image: url("images/Lucia.png");background-repeat: no-repeat;}
    #thirteen{background-image: url("images/Max.png");background-repeat: no-repeat;}
    #fourteen{background-image: url("images/Javier.png");background-repeat: no-repeat;}
    #fifteen{background-image: url("images/Phillip.png");background-repeat: no-repeat;}
    #sixteen{background-image: url("images/Kiara.png");background-repeat: no-repeat;}
    #seventeen{background-image:url("images/Kate.png");background-repeat:no-repeat;}
    #eighteen{background-image: url("images/Jiaohu.png");background-repeat: no-repeat;}
    #nineteen{background-image: url("images/Renato.png");background-repeat: no-repeat;}
    #twenty{background-image: url("images/Isabel.png");background-repeat: no-repeat;}
    #twentyone{background-image: url("images/James.png");background-repeat: no-repeat;}

/*
           toggle to this on cards once eliminated.
text.content==No or X;
e.g '#elevenEliminated' or add CSS styles => font-size:130px;font-family: fantasy;display:flex; justify-content: center;align-items: center;*/